//! **************************************************************************
// Written by: Map J.40 on Mon Mar 25 20:13:29 2019
//! **************************************************************************

SCHEMATIC START;
COMP "S0N" LOCATE = SITE "N4" LEVEL 1;
COMP "S1N" LOCATE = SITE "P4" LEVEL 1;
COMP "S2N" LOCATE = SITE "G1" LEVEL 1;
COMP "A" LOCATE = SITE "N3" LEVEL 1;
COMP "CLK" LOCATE = SITE "C8" LEVEL 1;
SCHEMATIC END;
